{% extends "base.html" %}

{% block title %}
Add Task
{% endblock %}

{% block content %}


{% if error %}
<div class="error">
    {{ error }}
</div>
{% endif %}


<h2>Add New Task</h2>

<form method="post" action="/add-task">

    <label>Task Title</label><br>
    <input type="text" name="title"><br><br>

    <label>Description</label><br>
    <textarea name="description"></textarea><br><br>

    <label>Assigned To</label><br>
    <input type="text" name="assigned_to"><br><br>

    <label>Created By</label><br>
    <input type="text" name="created_by"><br><br>

    <label>Priority</label><br>
    <select name="priority">
        <option value="">Select</option>
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
        <option>Urgent</option>
    </select>

    <br><br>

    <label>Due Date</label><br>
    <input type="date" name="due_date">

    <br><br>

    <label>Category</label><br>

    <select name="category">
        <option>Development</option>
        <option>Sales</option>
        <option>Support</option>
        <option>Documentation</option>
        <option>Client Work</option>
        <option>Internal Work</option>
        <option>Other</option>
    </select>

    <br><br>

    <button type="submit">
        Save Task
    </button>

</form>

{% endblock %}