{% extends "base.html" %}

{% block title %}
Task Detail
{% endblock %}

{% block content %}

<h2>Task Details</h2>

<table border="1">

<tr>
    <th>ID</th>
    <td>{{ task.id }}</td>
</tr>

<tr>
    <th>Title</th>
    <td>{{ task.title }}</td>
</tr>

<tr>
    <th>Description</th>
    <td>{{ task.description }}</td>
</tr>

<tr>
    <th>Assigned To</th>
    <td>{{ task.assigned_to }}</td>
</tr>

<tr>
    <th>Created By</th>
    <td>{{ task.created_by }}</td>
</tr>

<tr>
    <th>Priority</th>
    <td>{{ task.priority }}</td>
</tr>

<tr>
    <th>Category</th>
    <td>{{ task.category }}</td>
</tr>

<tr>
    <th>Status</th>
    <td>{{ task.status }}</td>
</tr>

<tr>
    <th>Due Date</th>
    <td>{{ task.due_date.date() }}</td>
</tr>

<tr>
    <th>Created At</th>
    <td>{{ task.created_at }}</td>
</tr>

<tr>
    <th>Updated At</th>
    <td>{{ task.updated_at }}</td>
</tr>

</table>
<hr>

<hr>

<h2>Update Status</h2>

<form method="post"
      action="/task/{{ task.id }}/status">

    <select name="new_status">

        <option value="Pending">Pending</option>

        <option value="In Progress">
            In Progress
        </option>

        <option value="On Hold">
            On Hold
        </option>

        <option value="Completed">
            Completed
        </option>

        <option value="Cancelled">
            Cancelled
        </option>

    </select>

    <input
        type="text"
        name="changed_by"
        placeholder="Updated By"
        required
    >

    <button type="submit">
        Update Status
    </button>

</form>


<h2>Add Comment</h2>

<form method="post"
      action="/task/{{ task.id }}/comment">

    <label>Added By</label><br>
    <input type="text"
           name="added_by"
           required>

    <br><br>

    <label>Comment</label><br>

    <textarea
        name="message"
        rows="4"
        cols="50"
        required>
    </textarea>

    <br><br>

    <button type="submit">
        Add Comment
    </button>

</form>

<hr>

<h2>Comment History</h2>

{% if comments %}

    {% for comment in comments %}

        <div style="
            border:1px solid #ccc;
            padding:10px;
            margin:10px 0;
        ">

            <strong>
                {{ comment.added_by }}
            </strong>

            <small>
                ({{ comment.created_at }})
            </small>

            <p>
                {{ comment.message }}
            </p>

        </div>

    {% endfor %}

{% else %}

    <p>No comments added yet.</p>

{% endif %}

<hr>

<h2>Status History</h2>

{% if histories %}

<table border="1">

    <tr>
        <th>Old Status</th>
        <th>New Status</th>
        <th>Changed By</th>
        <th>Changed At</th>
    </tr>

    {% for history in histories %}

    <tr>
        <td>{{ history.old_status }}</td>
        <td>{{ history.new_status }}</td>
        <td>{{ history.changed_by }}</td>
        <td>{{ history.changed_at }}</td>
    </tr>

    {% endfor %}

</table>

{% else %}

<p>No status changes yet.</p>

{% endif %}

<br>

<a href="/tasks">
    Back to Task List
</a>

{% endblock %}