{% extends "base.html" %}

{% block content %}


<h2 class="page-title">Task List</h2>

<form method="get" action="/tasks">

    <input
        type="text"
        name="search"
        placeholder="Search by title"
        value="{{ search }}"
    >

    <select name="status">
        <option value="">All Status</option>
        <option value="Pending">Pending</option>
        <option value="In Progress">In Progress</option>
        <option value="On Hold">On Hold</option>
        <option value="Completed">Completed</option>
        <option value="Cancelled">Cancelled</option>
    </select>

    <select name="priority">
        <option value="">All Priority</option>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
        <option value="Urgent">Urgent</option>
    </select>

    <select name="category">
        <option value="">All Categories</option>
        <option value="Development">Development</option>
        <option value="Sales">Sales</option>
        <option value="Support">Support</option>
        <option value="Documentation">Documentation</option>
        <option value="Client Work">Client Work</option>
        <option value="Internal Work">Internal Work</option>
        <option value="Other">Other</option>
    </select>

    <button type="submit">
        Search / Filter
    </button>

</form>

<br>


<table border="1">

<tr>
    <th>Title</th>
    <th>Assigned To</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Due Date</th>
</tr>

{% for task in tasks %}

<tr>
    <td>{{ task.title }}</td>
    <td>{{ task.assigned_to }}</td>
    <td>{{ task.priority }}</td>
    <td>{{ task.status }}</td>
    <td>{{ task.due_date.date() }}</td>

    <td>
        <a href= "/task/{{ task.id }}">
            View
        </a>
    </td>              
</tr>

{% endfor %}

</table>

{% endblock %}